server {
    listen 80;
    server_name {{ wp_site_url }} www.{{ wp_site_url }};
    return 301 https://{{ wp_site_url }}$request_uri;
}

server {
    listen 443 ssl;
    server_name {{ wp_site_url }} www.{{ wp_site_url }};

    root /var/www/html;
    index index.php;

    access_log /var/log/nginx/{{ wp_site_url }}-access.log;
    error_log /var/log/nginx/{{ wp_site_url }}-error.log;

    ssl_certificate /etc/nginx/ssl/{{ wp_site_url }}.crt;
    ssl_certificate_key /etc/nginx/ssl/{{ wp_site_url }}.key;

    ssl on;
    ssl_session_timeout 24h;
    ssl_session_cache shared:SSL:2m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers kEECDH+AES128:kEECDH:kEDH:-3DES:kRSA+AES128:kEDH+3DES:DES-CBC3-SHA:!RC4:!aNULL:!eNULL:!MD5:!EXPORT:!LOW:!SEED:!CAMELLIA:!IDEA:!PSK:!SRP:!SSLv2;
    ssl_prefer_server_ciphers on;
    add_header Strict-Transport-Security "max-age=31536000;";
    add_header Content-Security-Policy-Report-Only "default-src https:; script-src https: 'unsafe-eval' 'unsafe-inline'; style-src https: 'unsafe-inline'; img-src https: data:; font-src https: data:; report-uri /csp-report";

    # Redirect all requests for unknown URLs out of images and back to the
    # root index.php file
    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass wordpress:9000;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
    }

    location ~* /(?:uploads|files)/.*.php$ {
        deny all;
    }

    location ~* /(?:uploads|files)/.*.php$ {
        deny all;
    }

    location ~* .(engine|inc|info|install|make|module|profile|test|po|sh|.*sql|theme|tpl(.php)?|xtmpl)$|^(..*|Entries.*|Repository|Root|Tag|Template)$|.php_ {
        return 444;
    }

    location ~* .(pl|cgi|py|sh|lua)$ {
        return 444;
    }

    location ~ .(gif|png|jpe?g)$ {
        valid_referers none blocked mywebsite.com *.mywebsite.com;
        if ($invalid_referer) {
            return   403;
       }
    }

    # Prevent access to any files starting with a dot, like .htaccess
    # or text editor temp files
    location ~* /\. { access_log off; log_not_found off; deny all; }

    # Protect your wp-config.php file from intrusion
    location ~* /\wp-config.php { access_log off; log_not_found off; deny all; }

    # Prevent access to any files starting with a $ (usually temp files)
    location ~ ~$ { access_log off; log_not_found off; deny all; }

    # Do not log access to robots.txt, to keep the logs cleaner
    location = /robots.txt { access_log off; log_not_found off; }

    # Do not log access to the favicon, to keep the logs cleaner
    location = /favicon.ico { access_log off; log_not_found off; }

    # Keep images and CSS around in browser cache for as long as possible,
    # to cut down on server load
    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        try_files $uri /index.php;
        expires max;
        log_not_found off;
    }

    # Force potentially-malicious files in the /images directory to be served
    # with a text/plain mime type, to prevent them from being executed by
    # the PHP handler
    location ~* ^/images/.*.(html|htm|shtml|php)$ {
        types { }
        default_type text/plain;
    }
}